.cart-container {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(19, 16, 16);
    position: fixed;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transform: translate(110%, 0);
    transition: all 400ms ease;
    z-index: 9999;
    color: #fff;
  }


.cart--active{
    transform: translate(0, 0);
}