.cart__button {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
    color: red;
  }
  
  .cart-status {
    background-color: red;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }