.button{
    border: none;
    display: flex;
    align-items: center;
    background: transparent;
    transform: translateY(0, 0);
}

.select{
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-60%);    
    animation: bg .5s forwards alternate;
    transition: all .4s ease-in-out;
}


@keyframes bg {
    0%{
        transform: translateY(0);  
    }
    100%{
        border-radius: 50%;
        background-color: #fff;       
    }
}

.home, 
.pizza, 
.hamburguer,
.hotdog{
    color: red;
    font-size: 2rem;
}

